* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #20242b;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  /* Для переноса ячеек, не помещающихся в одну строку */
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
}

.black {
  background-color: #53291f;
}
.white{
  background-color: #dfc7ad;
}

.selected{
  background-color: #f3c90c;
  border: 2px solid #ffffff;
}

.available{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f3c90c;
}

.underAttack{
  background-color: #790707;
  border-radius: 50%;
}